<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ECSHOP 管理中心 - 商品列表 </title>
        <meta name="robots" content="noindex, nofollow">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href="Public/Admin/styles/general.css" rel="stylesheet" type="text/css" />
            <link href="Public/Admin/styles/main.css" rel="stylesheet" type="text/css" />


    </head>
    <body>

        <h1>
            <span class="action-span"><a href="index.php?p=Admin&c=Goods&a=add">添加新商品</a></span>
            <span class="action-span1"><a href="index.php?act=main">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品列表 </span>
            <div style="clear:both"></div>
        </h1>
        <!-- 商品列表 -->
        <form method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
            <!-- start goods list -->
            <div class="list-div" id="listDiv">
                <table cellpadding="3" cellspacing="1">
                    <tr>
                         <th><a href=" ">商品编号</a></th>    
                        <th><a href="javascript:listTable.sort('goods_name'); ">商品名称</a></th>
                        <th><a href=" ">商品分类</a></th>    
                        <th><a href="javascript:listTable.sort('goods_sn'); ">货号</a></th>
                        <th><a href=" ">旧价格</a></th> 
                        <th><a href="javascript:listTable.sort('shop_price'); ">新价格</a></th>
                        <th><a href="javascript:listTable.sort('is_on_sale'); ">图片</a></th>
                        <th><a href="javascript:listTable.sort('is_on_sale'); ">上架</a></th>
                        <th><a href="javascript:listTable.sort('is_best'); ">精品</a></th>
                        <th><a href="javascript:listTable.sort('is_new'); ">新品</a></th>
                        <th><a href="javascript:listTable.sort('is_hot'); ">热销</a></th>
                        <th><a href="javascript:listTable.sort('goods_number'); ">库存</a></th>
                        <th><a href=" ">创建时间</a></th>         
                        <th>操作</th>
                        <tr>
                            <?php foreach($rows as $row): ?>
                            <tr>
                                <td><input type="checkbox" name="checkboxes[]" value="32" /><?php echo isset($row['goo_id'])?$row['goo_id']: 0; ?></td>
                                <td class="first-cell" style=""><span onclick="listTable.edit(this, 'edit_goods_name', 32)"><?php echo isset($row['goo_name'])?$row['goo_name']:''; ?></span></td>
                                <td>
                                <select name="goo_parent_id">
                                    <?php foreach($rows as $row): ?>
                                      <option value="<?php echo $row['cat_id']; ?>"  <?php echo $row['cat_id']==$category['cat_parent_id']?'selected':''; ?> ><?php echo $row['name_text'] ?></option>
                                    <?php endForeach; ?>
                                </select>
                                </td>
                                <td><span onclick="listTable.edit(this, 'edit_goods_sn', 32)"><?php echo isset($row['goo_sn'])?$row['goo_sn']:''; ?></span></td>
                                <td align="right"><span onclick=""><?php echo isset($row['goo_fore'])?$row['goo_fore']:0; ?> </span></td>
                                <td align="right"><span><?php echo isset($row['goo_price'])?$row['goo_price']:0; ?> </span></td>
                                <td align="right" <span><img src="<?php echo $row['goo_tu']?>" ></img></span></td>
                                <td align="center"><img src="Public/Admin/images/<?php echo $row['is_on_sale'];?>.gif" onclick="listTable.toggle(this, 'toggle_on_sale', 32)" /></td>
                                <td align="center"><img src="Public/Admin/images/<?php echo $row['goo_status']&1; ?>.gif" onclick="listTable.toggle(this, 'toggle_best', 32)" /></td>
                                <td align="center"><img src="Public/Admin/images/<?php echo ($row['goo_status']&2)/2 ?>.gif" onclick="listTable.toggle(this, 'toggle_new', 32)" /></td>
                                <td align="center"><img src="Public/Admin/images/<?php echo ($row['goo_status']&4)/4 ?>.gif" onclick="listTable.toggle(this, 'toggle_hot', 32)" /></td>
                                <td align="right"><span onclick="listTable.edit(this, 'edit_goods_number', 32)"><?php echo isset($row['goo_num'])?$row['goo_num']:0; ?> </span></td>
                                <td align="right"><span onclick="listTable.edit(this, 'edit_goods_number', 32)"><?php echo isset($row['goo_create_time'])?$row['goo_create_time']:''; ?> </span></td>
                                <td align="center">
                                         <a href="index.php?p=Admin&c=Goods&a=edit&goo_id=<?php echo $row['goo_id']; ?>" title="编辑">编辑</a> |
                                    <a href="index.php?p=Admin&c=Goods&a=remove&goo_id=<?php echo $row['goo_id']; ?>" title="移除">移除</a>
                                </td>
                            </tr>
                            <?php endForeach; ?>
                            </table>
                                 <?php echo $page_html;?>
                            </div>

                            <div>
                                <input type="hidden" name="act" value="batch" />
                                <select name="type" id="selAction" onchange="changeAction()">
                                    <option value="">请选择...</option>
                                    <option value="trash">回收站</option>
                                    <option value="on_sale">上架</option>
                                    <option value="not_on_sale">下架</option>
                                    <option value="best">精品</option>
                                    <option value="not_best">取消精品</option>
                                    <option value="new">新品</option>
                                    <option value="not_new">取消新品</option>
                                    <option value="hot">热销</option>
                                    <option value="not_hot">取消热销</option>
                                    <option value="move_to">转移到分类</option>
                                    <option value="suppliers_move_to">转移到供货商</option>

                                </select>
                                <select name="target_cat" style="display:none">
                                    <option value="0">请选择...</option><option value="12" >充值卡</option><option value="15" >&nbsp;&nbsp;&nbsp;&nbsp;联通手机充值卡</option><option value="13" >&nbsp;&nbsp;&nbsp;&nbsp;小灵通/固话充值卡</option><option value="14" >&nbsp;&nbsp;&nbsp;&nbsp;移动手机充值卡</option><option value="6" >手机配件</option><option value="8" >&nbsp;&nbsp;&nbsp;&nbsp;耳机</option><option value="9" >&nbsp;&nbsp;&nbsp;&nbsp;电池</option><option value="11" >&nbsp;&nbsp;&nbsp;&nbsp;读卡器和内存卡</option><option value="7" >&nbsp;&nbsp;&nbsp;&nbsp;充电器</option><option value="1" >手机类型</option><option value="5" >&nbsp;&nbsp;&nbsp;&nbsp;双模手机</option><option value="2" >&nbsp;&nbsp;&nbsp;&nbsp;CDMA手机</option><option value="3" >&nbsp;&nbsp;&nbsp;&nbsp;GSM手机</option><option value="4" >&nbsp;&nbsp;&nbsp;&nbsp;3G手机</option>  </select>
                                <!--二级主菜单：转移供货商-->
                                <select name="suppliers_id" style="display:none">
                                    <option value="-1">请选择...</option>
                                    <option value="0">转移到网店</option>
                                    <option value="1">北京供货商</option>
                                    <option value="2">上海供货商</option>
                                </select>
                                <!--end!-->

                                <input type="hidden" name="extension_code" value="" />
                                <input type="submit" value=" 确定 " id="btnSubmit" name="btnSubmit" class="button" disabled="true" />
                            </div>
                            </form>

                            <div id="footer">
                                共执行 7 个查询，用时 0.015772 秒，Gzip 已禁用，内存占用 3.235 MB<br />
                                版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
                            <!-- 新订单提示信息 -->
                            <div id="popMsg">
                                <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#cfdef4" border="0">
                                    <tr>
                                        <td style="color: #0f2c8c" width="30" height="24"></td>
                                        <td style="font-weight: normal; color: #1f336b; padding-top: 4px;padding-left: 4px" valign="center" width="100%"> 新订单通知</td>
                                        <td style="padding-top: 2px;padding-right:2px" valign="center" align="right" width="19"><span title="关闭" style="cursor: hand;cursor:pointer;color:red;font-size:12px;font-weight:bold;margin-right:4px;" onclick="Message.close()" >×</span><!-- <img title=关闭 style="cursor: hand" onclick=closediv() hspace=3 src="msgclose.jpg"> --></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 1px; padding-bottom: 1px" colspan="3" height="70">
                                            <div id="popMsgContent">
                                                <p>您有 <strong style="color:#ff0000" id="spanNewOrder">1</strong> 个新订单以及       <strong style="color:#ff0000" id="spanNewPaid">0</strong> 个新付款的订单</p>
                                                <p align="center" style="word-break:break-all"><a href="order.php?act=list"><span style="color:#ff0000">点击查看新订单</span></a></p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <!--
                            <embed src="images/online.wav" width="0" height="0" autostart="false" name="msgBeep" id="msgBeep" enablejavascript="true"/>
                            -->

                            <script language="JavaScript">
                                document.onmousemove = function(e)
                                {
                                    var obj = Utils.srcElement(e);
                                    if (typeof (obj.onclick) == 'function' && obj.onclick.toString().indexOf('listTable.edit') != -1)
                                    {
                                        obj.title = '点击修改内容';
                                        obj.style.cssText = 'background: #278296;';
                                        obj.onmouseout = function(e)
                                        {
                                            this.style.cssText = '';
                                        }
                                    }
                                    else if (typeof (obj.href) != 'undefined' && obj.href.indexOf('listTable.sort') != -1)
                                    {
                                        obj.title = '点击对列表排序';
                                    }
                                }
                                < !--


                                        var MyTodolist;
                                        function showTodoList(adminid)
                                        {
                                            if (!MyTodolist)
                                            {
                                                var global = $import("../js/global.js", "js");
                                                global.onload = global.onreadystatechange = function()
                                                {
                                                    if (this.readyState && this.readyState == "loading")
                                                        return;
                                                    var md5 = $import("js/md5.js", "js");
                                                    md5.onload = md5.onreadystatechange = function()
                                                    {
                                                        if (this.readyState && this.readyState == "loading")
                                                            return;
                                                        var todolist = $import("js/todolist.js", "js");
                                                        todolist.onload = todolist.onreadystatechange = function()
                                                        {
                                                            if (this.readyState && this.readyState == "loading")
                                                                return;
                                                            MyTodolist = new Todolist();
                                                            MyTodolist.show();
                                                        }
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                if (MyTodolist.visibility)
                                                {
                                                    MyTodolist.hide();
                                                }
                                                else
                                                {
                                                    MyTodolist.show();
                                                }
                                            }
                                        }

                                if (Browser.isIE)
                                {
                                    onscroll = function()
                                    {
                                        //document.getElementById('calculator').style.top = document.body.scrollTop;
                                        document.getElementById('popMsg').style.top = (document.body.scrollTop + document.body.clientHeight - document.getElementById('popMsg').offsetHeight) + "px";
                                    }
                                }

                                if (document.getElementById("listDiv"))
                                {
                                    document.getElementById("listDiv").onmouseover = function(e)
                                    {
                                        obj = Utils.srcElement(e);

                                        if (obj)
                                        {
                                            if (obj.parentNode.tagName.toLowerCase() == "tr")
                                                row = obj.parentNode;
                                            else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr")
                                                row = obj.parentNode.parentNode;
                                            else
                                                return;

                                            for (i = 0; i < row.cells.length; i++)
                                            {
                                                if (row.cells[i].tagName != "TH")
                                                    row.cells[i].style.backgroundColor = '#F4FAFB';
                                            }
                                        }

                                    }

                                    document.getElementById("listDiv").onmouseout = function(e)
                                    {
                                        obj = Utils.srcElement(e);

                                        if (obj)
                                        {
                                            if (obj.parentNode.tagName.toLowerCase() == "tr")
                                                row = obj.parentNode;
                                            else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr")
                                                row = obj.parentNode.parentNode;
                                            else
                                                return;

                                            for (i = 0; i < row.cells.length; i++)
                                            {
                                                if (row.cells[i].tagName != "TH")
                                                    row.cells[i].style.backgroundColor = '#FFF';
                                            }
                                        }
                                    }

                                    document.getElementById("listDiv").onclick = function(e)
                                    {
                                        var obj = Utils.srcElement(e);

                                        if (obj.tagName == "INPUT" && obj.type == "checkbox")
                                        {
                                            if (!document.forms['listForm'])
                                            {
                                                return;
                                            }
                                            var nodes = document.forms['listForm'].elements;
                                            var checked = false;

                                            for (i = 0; i < nodes.length; i++)
                                            {
                                                if (nodes[i].checked)
                                                {
                                                    checked = true;
                                                    break;
                                                }
                                            }

                                            if (document.getElementById("btnSubmit"))
                                            {
                                                document.getElementById("btnSubmit").disabled = !checked;
                                            }
                                            for (i = 1; i <= 10; i++)
                                            {
                                                if (document.getElementById("btnSubmit" + i))
                                                {
                                                    document.getElementById("btnSubmit" + i).disabled = !checked;
                                                }
                                            }
                                        }
                                    }

                                }

                                //-->
                            </script>
                            </body>
                            </html>